body {
    display: flex;
    justify-content: left;
    width: 1920px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    padding: 50px;
    position: absolute;
    top: 40px;

}

.line{
    display: flex;
    position: absolute
}
    
.twcLogo { 
    width: 200%;
    height: auto;
    position: absolute;
    left: 100px; 
    bottom: -70px;
    
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1200px;
    color: #123320;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 100;
    font-size: x-large;
    width: 120px;
    height: auto;
    background-color: white;

}

.aboutText{
    position: relative;
    bottom: 20px;

}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1400px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 100;
    font-size: x-large;
    width: 120px;
    height: auto;
    background-color: white;

}

.mapText{
    position: relative;
    bottom: 20px;

}

.destinations{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1600px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 100;
    font-size: x-large;
    width: 200px;
    height: auto;
    background-color: white;

}

.destText{
    position: relative;
    bottom: 20px;

}


.continents{
    display: flex;
    position: absolute;
    top: 1000px;
   
}

h2{
    display: flex;
    position: absolute;
    top: 120px;
    left: 80px;
    padding: 50px;
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: xxx-large;
    letter-spacing: 8px;
}

.box1{
    background-color: #E1E8CC;
    padding: 200px;
    height: 10px;
    width: 1390px;
    position: absolute;
    top: 800px;
    left: 60px;

}

.box2{
    position: absolute;
    top: 200px;
    right: 145px;
}

.continentsImgs{
    position: absolute; 
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.asiaLink{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 800px;
    left: 265px;
    letter-spacing: 20px;
    width: 400px;
    height: 60px;

}



.africaLink{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 800px;
    left: 670px;
    width: 440px;
    height: 60px;
    background-color: #F2EEEB;
}




.americaLink{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 800px;
    left: 1120px;
    width: 400px;
    height: 60px;
    
}

.europeLink{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 800px;
    left: 1530px;
    width: 400px;
    height: 60px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-size: x-large;
    color: #123320;
    letter-spacing: 20px;
    width: 400px;
    height: 60px;
    background-color: #F2EEEB;
}

.asiaImg{
    opacity: 1;
    position: absolute;
    top: 100px;
    left: -188px;
    bottom: 50px;
    transition: .5s ease;
    backface-visibility: hidden;
    clip-path: inset(0px 454px 0px 454px);
}

.africaImg{
    position: absolute;
    top: 100px;
    left: 325px;
    bottom: 50px;
    clip-path: inset(0px 341px 0px 348px);
}

.americaImg{
    position: absolute;
    top: 100px;
    left: 1070px;
    bottom: 50px;
    clip-path: inset(0px 51px 0px 50px);
}

.europeImg{
    position: absolute;
    top: 100px;
    left: 1170px;
    bottom: 50px;
    clip-path: inset(0px 363px 0px 360px);
}


a:link{
    color: #123320;
    text-decoration: none;
}
 a:visited{
    color: #123320;
    text-decoration: none;
}
 
.aboutText:hover, .mapText:hover, .destText:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #123320;
    color: white;
}
 
.asiaLink:hover, .americaLink:hover, .africaLink:hover,.europeLink:hover, .text:hover{
    background-color: #123320;
    color: white;

}

.asiaImg:hover, .americaImg:hover, .africaImg:hover,.europeImg:hover{
    opacity: 0.8;
    background-color: #123320;
}

 a:active{
    color: #123320;
    text-decoration: underline;
}